[user]
	useConfigOnly = true
[push]
	default = simple
[alias]
	a = add -v .
	u = add -u -v
	st = status --short
	unpushed = log origin/master..HEAD
	wdiff = !git --no-pager diff --word-diff
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
[mergetool "magit"]
	cmd = e --eval "(magit-status)"
[merge]
	tool = magit
[credential]
  helper = cache --timeout=3600
[include]
  path = .gitcredentials
[core]
	excludesfile = /home/afronski/.gitignore_global
