# Ignore everything:
/*

# Included paths:
!/.gitignore

!/README.md
!/License - MIT.md

!/.old-stuff/

!/.vim/
/.vim/.netrwhist*

!/.vimrc

!/.user-scripts/
/.user-scripts/v*

!/.xmonad/
/.xmonad/*.hi
/.xmonad/*.o
/.xmonad/*.errors
/.xmonad/xmonad-x86_64*
/.xmonad/wallpapers/*.jpg

!/.xinitrc

!/.emacs.d
/.emacs.d/session*
/.emacs.d/elpa/
/.emacs.d/auto-save-list/
/.emacs.d/*~

!/.colors/
!/.Xresources
!/.xscreensaver

!/.dosbox/

!/.ncmpcpp/
/.ncmpcpp/*.log

!/.compton.conf