# Ignore everything:
/*

# Included paths:
!/.gitignore
!/.gitconfig

!/README.md
!/License - MIT.md

!/.old-stuff/

!/.vim/
/.vim/.netrwhist*

!/.vimrc

!/.user-scripts/
/.user-scripts/v*

!/.config/
/.config/*
!/.config/dunst
!/.config/htop/
!/.config/htop/htoprc

!/.xmonad/
/.xmonad/*.hi
/.xmonad/*.o
/.xmonad/*.errors
/.xmonad/xmonad-x86_64*

!/.xinitrc

!/.emacs.d
/.emacs.d/url/
/.emacs.d/session*
/.emacs.d/elpa/
/.emacs.d/auto-save-list/
/.emacs.d/*~
/.emacs.d/*.eld
/.emacs.d/themes/*.elc

!/.emacs.d.old
/.emacs.d.old/session*
/.emacs.d.old/elpa
/.emacs.d.old/auto-save-list/
/.emacs.d.old/*~
/.emacs.d.old/themes/*.elc

!/.colors/
!/.Xresources
!/.xscreensaver

!/.dosbox/

!/.ncmpcpp/
/.ncmpcpp/*.log

!/.compton.conf

!/.stalonetrayrc

!/.xbindkeysrc

!/.zshrc
!/.zlogin
!/.zlogout
!/.zpreztorc
!/.zprofile
!/.zshenv

!/.fonts.conf
!/.config/
!/.config/fontconfig/
!/.config/fontconfig/fonts.conf
!/.config/mc/
!/.fonts/

!/.ghci

!/.npmrc
