# Ignore everything:
/*

# Included paths:
!/.gitignore
!/.gitconfig
!/.gitignore_global

!/Makefile

!/README.md
!/License - MIT.md

!/.tmux.conf

!/.user-scripts/
/.user-scripts/ngrok
/.user-scripts/nosql-workbench
/.user-scripts/lein
/.user-scripts/ninja
/.user-scripts/wrk
/.user-scripts/wrk2
/.user-scripts/rebar3

!/.config/
/.config/*
!/.config/htop/
!/.config/htop/htoprc

!/.emacs.d/
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/custom.el

!/.dosbox/

!/.ncmpcpp/
/.ncmpcpp/*.log

!/.zshrc
!/.zlogin
!/.zlogout
!/.zpreztorc
!/.zprofile
!/.zshenv

!/.config/
!/.config/greg/

!/.ghci

!/.ledgerrc

!/.tool-versions
!/.default-gems
