! Theme: Solarized Light
!#include "/home/afronski/.colors/solarized_light"

! Theme: Solarized Dark
#include "/home/afronski/.colors/solarized"

Xft.dpi: 96
Xft.rgba: rgb
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

urxvt.font: xft:Source Code Pro for Powerline:pixelsize=15:style=Medium:antialias=true
!urxvt.font: xft:Source Code Pro for Powerline:pixelsize=25:style=Medium:antialias=true
urxvt.boldFont: xft:Source Code Pro for Powerline:pixelsize=15:style=Bold:antialias=true
!urxvt.boldFont: xft:Source Code Pro for Powerline:pixelsize=25:style=Bold:antialias=true
urxvt.italicFont: xft:Source Code Pro for Powerline:pixelsize=15:style=Italic:antialias=true
!urxvt.italicFont: xft:Source Code Pro for Powerline:pixelsize=25:style=Italic:antialias=true
urxvt.boldItalicFont: xft:Source Code Pro for Powerline:pixelsize=15:style=Bold Italic:antialias=true
!urxvt.boldItalicFont: xft:Source Code Pro for Powerline:pixelsize=25:style=Bold Italic:antialias=true

! Background color for "Solarized Dark".
urxvt.background: [90]#002b36

! Background color for "Solarized Light".
!urxvt.background: [100]#fdf6e3

urxvt.colorIT: #87af5f
urxvt.colorBD: #d7d7d7
urxvt.colorUL: #87afd7

urxvt.depth: 32
urxvt.foreground: #657b83
urxvt.fadeColor: #002b36
urxvt.cursorColor: #93a1a1
urxvt.pointerColorBackground: #586e75
urxvt.pointerColorForeground: #93a1a1
urxvt.intensityStyles: false
urxvt.perl-ext-common: default,matcher
urxvt.internalBorder: 10
urxvt.scrollBar: off
urxvt.termName: rxvt-256color
urxvt.loginShell: true
urxvt.letterspace: -5
urxvt.cursorUnderline: 1
urxvt.cursorBlink: 1
urxvt.scrollTtyOutput: false
urxvt.scrollWithBuffer: true
urxvt.scrollTtyKeypress: true
urxvt.saveLines: 100000

urxvt.matcher.button: 1
urxvt.url-launcher: /usr/bin/chromium
urxvt.keysym.C-Delete: perl:matcher:last
urxvt.keysym.M-Delete: perl:matcher:list

XClock*foreground: #ffffff
XClock*background: #000000
XClock*update: 1
XClock*geometry: 210x210+1450+16
XClock.Clock.majorColor: rgba:ff/ff/ff/ff
XClock.Clock.minorColor: rgba:ff/ff/ff/ff
XClock.Clock.hourColor: rgba:66/66/66/ff
XClock.Clock.minuteColor: rgba:80/80/80/ff
XClock.Clock.secondColor: rgba:ea/ea/ea/ff

Emacs.fontBackend: xft
Emacs.font: Droid Sans Mono-11
