"*":
  "exception-reporting":
    userId: "5c3130e1-a00b-d42c-5eef-5f11996c8e8f"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    projectHome: "/home/afronski/Repositories"
    themes: [
      "one-dark-ui"
      "solarized-light-syntax"
    ]
    disabledPackages: [
      "autocomplete-elixir"
      "autocomplete-erlang"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    fontFamily: "Monoid"
    fontSize: 13
    backUpBeforeSaving: true
  "one-dark-ui":
    fontSize: 12
    layoutMode: "Compact"
  minimap:
    absoluteMode: true
  pigments: {}
  "autocomplete-elixir":
    elixirPath: "/home/afronski/.kiex/elixirs/elixir-1.0.5/bin/elixir"
  "linter-elixirc":
    elixircExecutablePath: "/home/afronski/.kiex/elixirs/elixir-1.0.5/bin/elixirc"
  "autocomplete-erlang":
    elixirPath: "/home/afronski/.kiex/elixirs/elixir-1.0.5/bin/elixir"
  "linter-erlang":
    executablePath: "/home/afronski/.kerl/erlangs/17.5/bin/erlc"
  whitespace:
    ensureSingleTrailingNewline: false
  "file-icons": {}
".haskell.latex.tex.text":
  editor:
    preferredLineLength: 120
".erlang.html.text.yaws":
  editor:
    preferredLineLength: 120
".js.regexp.source":
  editor:
    preferredLineLength: 120
".elixir.html.text":
  editor:
    preferredLineLength: 120
".org.text":
  editor:
    preferredLineLength: 120
".clojure.source":
  editor:
    preferredLineLength: 120
    tabLength: 2
".cabal.source":
  editor:
    preferredLineLength: 120
".haskell.source":
  editor:
    preferredLineLength: 120
".erlang.source":
  editor:
    preferredLineLength: 120
".js.source":
  editor:
    preferredLineLength: 120
".hsc2hs.source":
  editor:
    preferredLineLength: 120
".elixir.text":
  editor:
    preferredLineLength: 120
    tabLength: 2
".c2hs.source":
  editor:
    preferredLineLength: 120
".elixir.source":
  editor:
    preferredLineLength: 120
    tabLength: 2
